# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Temp Files

*cache
src/.deps
src/aimage
src/Makefile
src/Makefile.in
aclocal.m4
aimage.spec
compile
config.h
config.h.ini
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1